body {
  background-color: rgb(0, 0, 0);
  font-family: NVIDIA, sans-serif;
}

.borda {
  background-color: rgb(57, 57, 57);
  height: 90px;
  border: 2px red solid;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
 display: flex;
  align-items: center;
justify-content: center;
 box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.fort1 {
  margin-top: 90px;
  width: 100%;
  height: auto;
  display: block;
}

h2 {
  margin-top: 200px;
}

.game-section p{
font-size: 30px;
color: rgb(255, 255, 255);

}
.game-section{

box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.imgs{
width: 15%;

}

img{
margin-left: 10px;
}

#barraPesquisa {
  padding: 8px;
  width: 550px;
  border-radius: 10px;
  border: 1px solid #aaa;
  background-color: rgb(41, 41, 41);
  border-bottom-color: rgb(118, 118, 118);
  height: 50px;
  cursor: pointer;
  font-size: 20px;
}



/* Smartphones (600px para baixo) */
@media only screen and (max-width: 599px) {
#barraPesquisa {
width: 250px;
}




.game-section img{
width: 30%;
display: flex nowrap;

}


}

/* Dispositivos um pouco maiores, mas ainda pequenos (Pequenos Tablets e Smartphones + largos, 600px para cima) */
@media only screen and (min-width: 600px) {




.fort1{
margin-top: 100px;


}

.game-section img{
width: 30%;
}

}

/*Dispostivos Médios (Tablets deitados, 768px para cima) */
@media only screen and (min-width: 768px) {}

/* Dispostivos Largos (laptops/desktops, 992px para cima) */
@media only screen and (min-width: 992px) {}

/* Super Largos (Telas maiores laptops, desktops e até TVs, 1200px para cima) */
@media only screen and (min-width: 1200px) {}


@media only screen and (max-width: 1200px) and (min-witdth: 900px) {}
